<h1 class="font-sans break-normal text-gray-900 font-bold text-xl">Kauzy (<%= @cases.count %>)</h1>
<small>Toto sú kauzy, ktoré momentálne evidujeme v našej databáze.</small>

<% @cases.each do |c| %>

  <div class="rounded border border-gray-400 bg-white mt-4 mb-2 p-6">
    <h2 class="font-sans break-normal text-gray-900 pb-2 font-bold text-xl"><%= c.name %></h2>
    <p><%= c.description %></p>
    <%= link_to 'Zistiť viac', case_path(c), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 inline-block rounded" %>
  </div>

<% end %>