<div class="flex mb-4">
  <div class="w-1/3">

    <img src="http://www.nrsr.sk/web/dynamic/PoslanecPhoto.aspx?PoslanecID=40&amp;ImageWidth=128" alt="Robert Fico" height="128" width="128">
    <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 text-xl">Róbert Fico (54)</h1>
    <p>politik, poslanec SMER-SD</p>

    <div class="mt-6 w-2/3 text-gray-600 text-xs">
      <p class="mt-4">V roku 1987 vstúpil do Komunistickej strany Slovenska a po revolúcii sa stal členom Strany demokratickej ľavice (SDĽ), za ktorú bol v roku 1992 zvolený za poslanca Národnej rady SR.</p>
      <p class="mt-4">SDĽ bola v roku 1998 súčasťou vládnej koalície spolu so Slovenskou demokratickou koalíciou (SDK), Stranou maďarskej koalície (SMK) a Stranou občianskeho porozumenia (SOP), no Robert Fico sa pre nesúhlas a sklamanie z obsahu a štýlu politiky, ktorú realizovala „vláda zmeny“, rozhodol v auguste 1999 SDĽ opustiť a v NR SR bol nezávislým poslancom.</p>
    </div>

  </div>
  <div class="w-2/3">

    <h2 class="font-sans break-normal text-gray-900 pb-2 font-bold text-xl">Kauzy s ním spájané (12)</h2>

    <div class="rounded border border-gray-400 bg-white mt-2 mb-2 p-6">
      <h2 class="font-sans break-normal text-gray-900 pb-2 font-bold text-xl">Gorila</h2>
      <p>Prevalila sa uniknutím tajného dokumentu s krycím názvom Gorila zo Slovenskej informačnej služby na verejnosť v decembri 2011. V spise zverejnenom na internete sa nachádzajú informácie o odpočúvaní Jaroslava Haščáka, šéfa investičnej skupiny Penta, počas rokov 2005 a 2006...</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded">
        Zistiť viac
      </button>
    </div>

    <div class="rounded border border-gray-400 bg-white mt-2 mb-2 p-6">
      <h2 class="font-sans break-normal text-gray-900 pb-2 font-bold text-xl">Predražené CT v Piešťanoch</h2>
      <p>Prevalila sa uniknutím tajného dokumentu s krycím názvom Gorila zo Slovenskej informačnej služby na verejnosť v decembri 2011. V spise zverejnenom na internete sa nachádzajú informácie o odpočúvaní Jaroslava Haščáka, šéfa investičnej skupiny Penta, počas rokov 2005 a 2006...</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded">
        Zistiť viac
      </button>
    </div>

    <div class="rounded border border-gray-400 bg-white mt-2 mb-2 p-6">
      <h2 class="font-sans break-normal text-gray-900 pb-2 font-bold text-xl">Baštrnák</h2>
      <p>Prevalila sa uniknutím tajného dokumentu s krycím názvom Gorila zo Slovenskej informačnej služby na verejnosť v decembri 2011. V spise zverejnenom na internete sa nachádzajú informácie o odpočúvaní Jaroslava Haščáka, šéfa investičnej skupiny Penta, počas rokov 2005 a 2006...</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-4 rounded">
        Zistiť viac
      </button>
    </div>

  </div>
</div>