<h1 class="text-4xl">O projekte</h1>

<p class="mt-5">Pár mesiacov dozadu som sa začal zaujímať o prípady, s ktorými bol spojený jeden nemenovaný politik. Čím viac som však hľadal informácie, tým viac som sa cítil stratený a preto som sa rozhodol prísť s týmto projektom. Každý by si mal byť schopný nájsť veréjne známu osobnosť a pozrieť sa s akými kauzami je spájaná.</p>

<!-- TODO: Write about the validity of the information provided -->

<p class="mt-8">Tento projekt je open source - čo znamená, že zdrojové súbory tejto aplikácie sú veréjne dostupné a každá pomoc je vítaná.</p>